Question 1

1.1

In [1]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [2]:
def grades(name):
    if name in marks:
        print(marks[name])
    else:
        print("cannot find student's name")
grades(name = 'Andy')
grades(name = 'Arthur')
grades(name = 'Maria')
grades(name = 'Jules')

88
77
cannot find student's name
55

1.2

In [3]:
def average(Sum = sum(marks.values()), Len = len(marks)):
    return Sum/Len
average()

75.2

Question 2

In [4]:
def my_function(n, num):
    while n<num:
        print(n)
        n = n**2
        print(n)
    else: 
        print("greater than ",num)
my_function(2,8)

2
4
4
16
greater than  8

Question 3

In [1]:
def function(n, num):
    Sum = 0
    rg = range(n, num+1)
    while n < num:
        n = n+1
        Sum = sum(rg)
        return Sum
    else:
        print("stop")
function(1,8)

36

Question 4

In [2]:
def function_2(n,num):
    Sum = 0
    for n in range(n, num+1):
        Sum = Sum + n
        print(Sum)
function_2(1,8)

1
3
6
10
15
21
28
36

Question 5

In [6]:
from statistics import mean
from statistics import stdev
def function_3(n, num):
    rg = range(n, num+1)
    print(mean(rg))
    print(sum(rg))
    print(stdev(rg))
function_3(1,100)

50.5
5050
29.011491975882016

Question 6

6.1

In [15]:
def minimal (v1, v2, v3, v4):
    min_value = v1
    if v1>v2:
        min_value = v2
        if v2>v3:
            min_value=v3
            if v3>v4:
                min_value = v4
                if v4>v1:
                    min_value = v1
    if v1>v3:
        min_value = v3
        if v3>v2:
            min_value=v2
            if v2>v4:
                min_value = v4
                if v4>v1:
                    min_value = v1
    if v1>v4:
        min_value = v4
        if v4>v3:
            min_value=v3
            if v3>v2:
                min_value = v2
                if v2>v1:
                    min_value = v1
    return min_value
minimal(739,627,3748,92)

92

6.2

In [14]:
def print_min(min_value):
    print("minimal value is ", min_value)
def minimal (v1, v2, v3, v4):
    min_value = v1
    if v1>v2:
        min_value = v2
        if v2>v3:
            min_value=v3
            if v3>v4:
                min_value = v4
                if v4>v1:
                    min_value = v1
    if v1>v3:
        min_value = v3
        if v3>v2:
            min_value=v2
            if v2>v4:
                min_value = v4
                if v4>v1:
                    min_value = v1
    if v1>v4:
        min_value = v4
        if v4>v3:
            min_value=v3
            if v3>v2:
                min_value = v2
                if v2>v1:
                    min_value = v1
    return print_min(min_value)
minimal(637,7932,749,180)

minimal value is  180